@charset "UTF-8";

/* Mobile first */

@media all {

html{
    background-color: rgb(199, 124, 199);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 20px;
    display: block;
    width: 300px;
}


#imagem{
    background: purple url(../imagens/palete\ de\ cores.jpg) no-repeat center center;
    background-size: cover;
    height: 250px;
}

#imagem,#login{
    display:block;  
}


#login{
    text-align: center;
    padding-top: 10px ;
    background-color: white;
    height: 350px;

}

#login > h1{
    font-size: 25px ;
}

#login > p{
    padding-top: 15px;
    text-align: justify;
    margin: 0px 6px 0px 6px;
    font-size: 13px;
}

form{
    margin-top: 10px;
}

form > p{
    background-color: rgb(158, 2, 158);
    margin: 6px 7px;
    border-radius: 7px; 
    height: 40px;
}

.inputs{
    width: 85%;
}

i{
    color: grey;
    transform: translatey(8px);
}

input,a#botao2{
   height: 35px;
   border-radius: 7px;
   border: 0px;
}

input#botao1,a#botao2{
    width: 97%;
    border-radius: 7px;
    font-size: 20px;
}

input#botao1{
    background-color: rgb(10, 156, 10);
    color: white;
    border: 0px;
    height: 40px;
    margin-bottom: 6px;
}

a#botao2{
    border:1px solid rgb(140, 150, 140);
    color: rgb(75, 128, 75);
    height: 40px;
    text-decoration: none;
    display: block;
    margin: auto;
    padding-top: 7px;
}

i#iconpequeno{
    font-size: 15px;
    transform: translatey(-6px);
}

input#botao1:hover{
    background-color: rgb(4, 95, 4);
    cursor: pointer;
}

a#botao2:hover{
    background-color: rgb(203, 206, 203);
    cursor: pointer;
    color: rgb(29, 141, 29);
}


section{
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}



}

/*TABLETS*/

@media screen and (min-width:760px){

    #login{
        float: right;
    }

    html{
        background-image: linear-gradient(to bottom, rgb(118, 255, 118), rgb(255, 105, 255));
    }
    section{
        width: 700px;
        height: 300px;
    }

    #login{
        width: 60%;
        height: 100%;
        float: right;
    }

    #imagem{
        width: 40%;
        height: 100%;
        float: left;
    }
}


/*DISPOSITIVOS MAIORES*/

@media screen and (min-width:1100px){

    #login{
        float: left;
    }

    html{
        background-image: linear-gradient(to bottom, rgb(118, 255, 118), rgb(255, 105, 255));
    }
    section{
        width: 1000px;
        height: 400px;
    }

    #login{
        width: 60%;
        height: 100%;
        float: right;
        padding-top: 80px;
    }

    #imagem{
        width: 40%;
        height: 100%;
        float: right;
    }

    #login > p{
        font-size: 16px;
    }

    
    #login > h1{
        font-size: 30px;
    }
}



