@charset "UTF-8";

html{
    margin: 0px;
    padding: 0px;
}

#imagem{
    background: purple url(../imagens/palete\ de\ cores.jpg) no-repeat center center;
    background-size: cover;
}

#imagem,#login{
    width: 400px;
    height: 300px;
    display: inline-block;
}